<h1 id="recipebox"><img id="logo" src="/recipebox_logo.gif">RecipeBox</h1>
<table>
  <tr>
    <td>
      <h2>List of Recipes:</h2>
    </td>
  </tr>

  <% @recipes.each do |recipe| %>

  <tr>
    <td>
      <a href ="/recipes/<%= recipe["max"] %>"> <%= recipe["name"] %></a>
    </td>
  </tr>

  <% end %>

</table>
